## Working on Jsons

In [2]:
import requests
import json
import pandas as pd

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [4]:
df = pd.DataFrame(json_readed)
df

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [5]:
df2 = df.loc["standard":, "league":]
df2

                                                       league
standard    [{'isNBAFranchise': False, 'isAllStar': True, ...
africa      [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento  [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas       [{'isNBAFranchise': True, 'isAllStar': False, ...
utah        [{'isNBAFranchise': True, 'isAllStar': False, ...

In [6]:
# Pasar una serie a DataFrame
df_serie = df.loc["standard":, "league"]
df3 = pd.DataFrame(df_serie)

In [7]:
type(df3["league"][0])

list

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

#### GOAL

In [8]:
pd.DataFrame(df3["league"][0]) ###no tocar

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
5,False,True,Team LeBron,Team LeBron,Team LeBron,LBN,1610616834,Team LeBron,team_lebron,West,West
6,False,False,Team,Team,Team Africa,AFR,12326,Africa,africa,,
7,False,False,Team,Team,Team World,WLD,12327,World,world,,
8,False,False,Adelaide,Adelaide,Adelaide 36ers,ADL,15019,36ers,36ers,Intl,
9,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,East,Southeast
10,False,False,Beijing,Beijing,Beijing Ducks,BJD,15021,Ducks,ducks,Intl,
11,True,False,Boston,Boston,Boston Celtics,BOS,1610612738,Celtics,celtics,East,Atlantic
12,True,False,Brooklyn,Brooklyn,Brooklyn Nets,BKN,1610612751,Nets,nets,East,Atlantic
13,True,False,Charlotte,Charlotte,Charlotte Hornets,CHA,1610612766,Hornets,hornets,East,Southeast
14,True,False,Chicago,Chicago,Chicago Bulls,CHI,1610612741,Bulls,bulls,East,Central
15,True,False,Cleveland,Cleveland,Cleveland Cavaliers,CLE,1610612739,Cavaliers,cavaliers,East,Central
16,True,False,Dallas,Dallas,Dallas Mavericks,DAL,1610612742,Mavericks,mavericks,West,Southwest
17,True,False,Denver,Denver,Denver Nuggets,DEN,1610612743,Nuggets,nuggets,West,Northwest
18,True,False,Detroit,Detroit,Detroit Pistons,DET,1610612765,Pistons,pistons,East,Central
19,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,West,Pacific
20,False,False,Guangzhou,Guangzhou,Guangzhou Long-Lions,GUA,15018,Long-Lions,long-lions,Intl,
21,False,False,Haifa,Haifa,Maccabi Haifa,MAC,93,Maccabi Haifa,maccabi_haifa,Intl,
22,True,False,Houston,Houston,Houston Rockets,HOU,1610612745,Rockets,rockets,West,Southwest
23,True,False,Indiana,Indiana,Indiana Pacers,IND,1610612754,Pacers,pacers,East,Central
24,True,False,LA,LA Clippers,LA Clippers,LAC,1610612746,Clippers,clippers,West,Pacific
25,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,West,Pacific
26,False,False,Melbourne,Melbourne,Melbourne United,MEL,15016,United,united,Intl,
27,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,West,Southwest
28,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,East,Southeast
29,True,False,Milwaukee,Milwaukee,Milwaukee Bucks,MIL,1610612749,Bucks,bucks,East,Central
30,True,False,Minnesota,Minnesota,Minnesota Timberwolves,MIN,1610612750,Timberwolves,timberwolves,West,Northwest
31,True,False,New Orleans,New Orleans,New Orleans Pelicans,NOP,1610612740,Pelicans,pelicans,West,Southwest
32,True,False,New York,New York,New York Knicks,NYK,1610612752,Knicks,knicks,East,Atlantic
33,False,False,New Zealand,New Zealand,New Zealand Breakers,NZB,15020,Breakers,breakers,Intl,
34,True,False,Oklahoma City,Oklahoma City,Oklahoma City Thunder,OKC,1610612760,Thunder,thunder,West,Northwest
35,True,False,Orlando,Orlando,Orlando Magic,ORL,1610612753,Magic,magic,East,Southeast
36,False,False,Perth,Perth,Perth Wildcats,PER,104,Wildcats,wildcats,Intl,
37,True,False,Philadelphia,Philadelphia,Philadelphia 76ers,PHI,1610612755,76ers,sixers,East,Atlantic
38,True,False,Phoenix,Phoenix,Phoenix Suns,PHX,1610612756,Suns,suns,West,Pacific
39,True,False,Portland,Portland,Portland Trail Blazers,POR,1610612757,Trail Blazers,blazers,West,Northwest
40,False,False,Rio de Janeiro,Rio de Janeiro,Rio de Janeiro Flamengo,FLA,12325,Flamengo,flamengo,Intl,
41,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,West,Pacific
42,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,West,Southwest
43,False,False,Shanghai,Shanghai,Shanghai Sharks,SDS,12329,Shanghai Sharks,shanghai_sharks,Intl,
44,False,False,Sydney,Sydney,Sydney Kings,SYD,15015,Kings,kings,Intl,
45,True,False,Toronto,Toronto,Toronto Raptors,TOR,1610612761,Raptors,raptors,East,Atlantic
46,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,West,Northwest
47,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,East,Southeast

In [9]:
print(df3["league"]) #quiero acceder a la columna league
print(type(df3["league"])) #compruebo su tipo

standard      [{'isNBAFranchise': False, 'isAllStar': True, ...
africa        [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento    [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas         [{'isNBAFranchise': True, 'isAllStar': False, ...
utah          [{'isNBAFranchise': True, 'isAllStar': False, ...
Name: league, dtype: object
<class 'pandas.core.series.Series'>

In [10]:
type(df3["league"][0]) # compruebo el tipo del primero de sus elementos, me indica tipo  lista

list

In [11]:
df_json = pd.DataFrame(df3["league"][0])
df_json

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
5,False,True,Team LeBron,Team LeBron,Team LeBron,LBN,1610616834,Team LeBron,team_lebron,West,West
6,False,False,Team,Team,Team Africa,AFR,12326,Africa,africa,,
7,False,False,Team,Team,Team World,WLD,12327,World,world,,
8,False,False,Adelaide,Adelaide,Adelaide 36ers,ADL,15019,36ers,36ers,Intl,
9,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,East,Southeast
10,False,False,Beijing,Beijing,Beijing Ducks,BJD,15021,Ducks,ducks,Intl,
11,True,False,Boston,Boston,Boston Celtics,BOS,1610612738,Celtics,celtics,East,Atlantic
12,True,False,Brooklyn,Brooklyn,Brooklyn Nets,BKN,1610612751,Nets,nets,East,Atlantic
13,True,False,Charlotte,Charlotte,Charlotte Hornets,CHA,1610612766,Hornets,hornets,East,Southeast
14,True,False,Chicago,Chicago,Chicago Bulls,CHI,1610612741,Bulls,bulls,East,Central
15,True,False,Cleveland,Cleveland,Cleveland Cavaliers,CLE,1610612739,Cavaliers,cavaliers,East,Central
16,True,False,Dallas,Dallas,Dallas Mavericks,DAL,1610612742,Mavericks,mavericks,West,Southwest
17,True,False,Denver,Denver,Denver Nuggets,DEN,1610612743,Nuggets,nuggets,West,Northwest
18,True,False,Detroit,Detroit,Detroit Pistons,DET,1610612765,Pistons,pistons,East,Central
19,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,West,Pacific
20,False,False,Guangzhou,Guangzhou,Guangzhou Long-Lions,GUA,15018,Long-Lions,long-lions,Intl,
21,False,False,Haifa,Haifa,Maccabi Haifa,MAC,93,Maccabi Haifa,maccabi_haifa,Intl,
22,True,False,Houston,Houston,Houston Rockets,HOU,1610612745,Rockets,rockets,West,Southwest
23,True,False,Indiana,Indiana,Indiana Pacers,IND,1610612754,Pacers,pacers,East,Central
24,True,False,LA,LA Clippers,LA Clippers,LAC,1610612746,Clippers,clippers,West,Pacific
25,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,West,Pacific
26,False,False,Melbourne,Melbourne,Melbourne United,MEL,15016,United,united,Intl,
27,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,West,Southwest
28,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,East,Southeast
29,True,False,Milwaukee,Milwaukee,Milwaukee Bucks,MIL,1610612749,Bucks,bucks,East,Central
30,True,False,Minnesota,Minnesota,Minnesota Timberwolves,MIN,1610612750,Timberwolves,timberwolves,West,Northwest
31,True,False,New Orleans,New Orleans,New Orleans Pelicans,NOP,1610612740,Pelicans,pelicans,West,Southwest
32,True,False,New York,New York,New York Knicks,NYK,1610612752,Knicks,knicks,East,Atlantic
33,False,False,New Zealand,New Zealand,New Zealand Breakers,NZB,15020,Breakers,breakers,Intl,
34,True,False,Oklahoma City,Oklahoma City,Oklahoma City Thunder,OKC,1610612760,Thunder,thunder,West,Northwest
35,True,False,Orlando,Orlando,Orlando Magic,ORL,1610612753,Magic,magic,East,Southeast
36,False,False,Perth,Perth,Perth Wildcats,PER,104,Wildcats,wildcats,Intl,
37,True,False,Philadelphia,Philadelphia,Philadelphia 76ers,PHI,1610612755,76ers,sixers,East,Atlantic
38,True,False,Phoenix,Phoenix,Phoenix Suns,PHX,1610612756,Suns,suns,West,Pacific
39,True,False,Portland,Portland,Portland Trail Blazers,POR,1610612757,Trail Blazers,blazers,West,Northwest
40,False,False,Rio de Janeiro,Rio de Janeiro,Rio de Janeiro Flamengo,FLA,12325,Flamengo,flamengo,Intl,
41,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,West,Pacific
42,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,West,Southwest
43,False,False,Shanghai,Shanghai,Shanghai Sharks,SDS,12329,Shanghai Sharks,shanghai_sharks,Intl,
44,False,False,Sydney,Sydney,Sydney Kings,SYD,15015,Kings,kings,Intl,
45,True,False,Toronto,Toronto,Toronto Raptors,TOR,1610612761,Raptors,raptors,East,Atlantic
46,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,West,Northwest
47,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,East,Southeast

In [12]:
df_json1 = pd.DataFrame(df3["league"][1])
df_json1

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,False,Team,Team,Team Africa,AFR,12326,Africa,africa,,
1,False,False,Team,Team,Team World,WLD,12327,World,world,,

In [13]:
df_json2 = pd.DataFrame(df3["league"][2])
df_json2

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,Sacramento,
1,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,Sacramento,
2,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,Sacramento,
3,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,Sacramento,

In [14]:
df_json3 = pd.DataFrame(df3["league"][3])
df_json3

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,summer,
1,True,False,Boston,Boston,Boston Celtics,BOS,1610612738,Celtics,celtics,summer,
2,True,False,Brooklyn,Brooklyn,Brooklyn Nets,BKN,1610612751,Nets,nets,summer,
3,True,False,Charlotte,Charlotte,Charlotte Hornets,CHA,1610612766,Hornets,hornets,summer,
4,True,False,Chicago,Chicago,Chicago Bulls,CHI,1610612741,Bulls,bulls,summer,
5,True,False,Cleveland,Cleveland,Cleveland Cavaliers,CLE,1610612739,Cavaliers,cavaliers,summer,
6,True,False,Dallas,Dallas,Dallas Mavericks,DAL,1610612742,Mavericks,mavericks,summer,
7,True,False,Denver,Denver,Denver Nuggets,DEN,1610612743,Nuggets,nuggets,summer,
8,True,False,Detroit,Detroit,Detroit Pistons,DET,1610612765,Pistons,pistons,summer,
9,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,summer,
10,True,False,Houston,Houston,Houston Rockets,HOU,1610612745,Rockets,rockets,summer,
11,True,False,Indiana,Indiana,Indiana Pacers,IND,1610612754,Pacers,pacers,summer,
12,True,False,LA,LA Clippers,LA Clippers,LAC,1610612746,Clippers,clippers,summer,
13,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,summer,
14,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,summer,
15,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,summer,
16,True,False,Milwaukee,Milwaukee,Milwaukee Bucks,MIL,1610612749,Bucks,bucks,summer,
17,True,False,Minnesota,Minnesota,Minnesota Timberwolves,MIN,1610612750,Timberwolves,timberwolves,summer,
18,True,False,New Orleans,New Orleans,New Orleans Pelicans,NOP,1610612740,Pelicans,pelicans,summer,
19,True,False,New York,New York,New York Knicks,NYK,1610612752,Knicks,knicks,summer,
20,True,False,Oklahoma City,Oklahoma City,Oklahoma City Thunder,OKC,1610612760,Thunder,thunder,summer,
21,True,False,Orlando,Orlando,Orlando Magic,ORL,1610612753,Magic,magic,summer,
22,True,False,Philadelphia,Philadelphia,Philadelphia 76ers,PHI,1610612755,76ers,sixers,summer,
23,True,False,Phoenix,Phoenix,Phoenix Suns,PHX,1610612756,Suns,suns,summer,
24,True,False,Portland,Portland,Portland Trail Blazers,POR,1610612757,Trail Blazers,blazers,summer,
25,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,summer,
26,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,summer,
27,True,False,Toronto,Toronto,Toronto Raptors,TOR,1610612761,Raptors,raptors,summer,
28,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,summer,
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,

In [15]:
df_json4 = pd.DataFrame(df3["league"][4])
df_json4

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

In [16]:
df_concatenado = pd.concat([df_json, df_json1, df_json2, df_json3, df_json4])
df_concatenado

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,

![](json_df_goal_nba.png)