In [9]:
#voy a probar leer un cvs, para iniciar mi descarga de datasets. encontré esta fuente en dataset.gob.es

import numpy as np 
import pandas as pd

In [10]:
doc = "12007bsc.csv"

In [64]:
#Paso el archivo csv a DataFrame y compruebo sus datos
df= pd.read_csv(doc, sep= ";", encoding="latin-1")
df

                Edad Prevalencia depresión     Sexo Total
0    De 15 a 24 años             No consta  Hombres  15,7
1    De 15 a 24 años             No consta  Mujeres   6,2
2    De 25 a 34 años             No consta  Hombres   6,3
3    De 25 a 34 años             No consta  Mujeres   2,2
4    De 35 a 44 años             No consta  Hombres  10,6
5    De 35 a 44 años             No consta  Mujeres  22,9
6    De 45 a 54 años             No consta  Hombres  21,8
7    De 45 a 54 años             No consta  Mujeres  22,0
8    De 55 a 64 años             No consta  Hombres  10,3
9    De 55 a 64 años             No consta  Mujeres  13,5
10   De 65 a 74 años             No consta  Hombres   8,2
11   De 65 a 74 años             No consta  Mujeres  14,9
12   De 75 a 84 años             No consta  Hombres  17,3
13   De 75 a 84 años             No consta  Mujeres  23,3
14  De 85 y más años             No consta  Hombres  24,3
15  De 85 y más años             No consta  Mujeres  49,9

In [66]:
df_2 = pd.read_csv("edad_nacionalidad_sexo.csv", sep= ";")

In [69]:
df_2.head(15)

                  Edad Nacionalidad         Sexo    Total
0     Todas las edades        Total  Ambos sexos    3.679
1     Todas las edades        Total      Hombres    2.718
2     Todas las edades        Total      Mujeres  961.000
3     Todas las edades     Española  Ambos sexos    3.366
4     Todas las edades     Española      Hombres    2.468
5     Todas las edades     Española      Mujeres  898.000
6     Todas las edades   Extranjera  Ambos sexos  308.000
7     Todas las edades   Extranjera      Hombres  245.000
8     Todas las edades   Extranjera      Mujeres   63.000
9     Todas las edades    No consta  Ambos sexos    5.000
10    Todas las edades    No consta      Hombres    5.000
11    Todas las edades    No consta      Mujeres    0.000
12  Menores de 15 años        Total  Ambos sexos   13.000
13  Menores de 15 años        Total      Hombres    6.000
14  Menores de 15 años        Total      Mujeres    7.000

In [79]:
#quiero hacer 2 data frame
df_2_usar = df_2.drop(range(0,12))

In [81]:
df_2_usar.dtypes

Edad             object
Nacionalidad     object
Sexo             object
Total           float64
dtype: object