# 02 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [8]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Assign it to a variable called chipo.

This time we are going to pull data directly from the internet.

In [7]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(address, sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the most expensive products (item_name)

¿Recuerdas el `map`? En **pandas** tienes el método [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) y en para resolver este ejercicio te puede ser muy útil. 

Pero no acaba ahí https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas

In [36]:

chipo["exp_prod"] = chipo["item_price"].apply(lambda x: float(x[1:]) )

In [39]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   exp_prod            4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [47]:
mask = chipo["exp_prod"] == chipo["exp_prod"].max()
chipo["item_name"][mask].values

###nos va retornar los valores en un array, cuando se cumpla la condición de mask

array(['Chips and Fresh Tomato Salsa'], dtype=object)

### Step 4. How many products cost more than $10.00?

In [58]:
mascara= mask = chipo["exp_prod"] > 10.00

ejer_4 = chipo["item_name"][mascara].values

print(ejer_4)
print(len(ejer_4))

['Chicken Bowl' 'Chicken Bowl' 'Steak Burrito' ... 'Steak Burrito'
 'Steak Burrito' 'Chicken Salad Bowl']
1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [63]:
chipo.loc[:,["item_name","item_price"]]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [68]:
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price,exp_prod
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

V1

In [69]:
## en orden descendente por la cantidad
chipo.sort_values(by="exp_prod",ascending=False)

,order_id,quantity,item_name,choice_description,item_price,exp_prod
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
2922,1162,1,Bottled Water,NaN,$1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],$1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09

V2

1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [88]:

chipo["item_name"].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [93]:
x= chipo[chipo['item_name'].str.contains("Canned Soda")]
print(x)
#no he logrado sacar la cantidad de veces que en total se ordeno la bebida.

      order_id  quantity    item_name choice_description item_price  exp_prod
18           9         2  Canned Soda           [Sprite]     $2.18       2.18
28          14         1  Canned Soda       [Dr. Pepper]     $1.09       1.09
51          23         2  Canned Soda     [Mountain Dew]     $2.18       2.18
53          24         1  Canned Soda           [Sprite]     $1.09       1.09
107         47         1  Canned Soda       [Dr. Pepper]     $1.09       1.09
...        ...       ...          ...                ...        ...       ...
3897      1562         1  Canned Soda     [Mountain Dew]     $1.09       1.09
3926      1575         1  Canned Soda       [Dr. Pepper]     $1.09       1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]     $1.09       1.09
4008      1604         1  Canned Soda        [Diet Coke]     $1.09       1.09
4051      1621         1  Canned Soda           [Sprite]     $1.09       1.09

[104 rows x 6 columns]
104