# Python | list/dict comprehension

List comprehension in Python is a compact way of creating a list from a sequence. It is a short way to create a new list. List comprehension is considerably faster than processing a list using the for loop.

```python
# syntax
[i for i in iterable if expression]
```

Dictionary comprehension is the same as list comprehension but with dictionaries. I know, you didn't see that coming.

```python
# syntax

{key: value for i in iterable}
```

- https://www.programiz.com/python-programming/list-comprehension
- https://www.programiz.com/python-programming/dictionary-comprehension

### Exercise 1.

Use list comprehension and print the result to solve these problems:

1. Make a list with the square number of numbers from 0 to 20.

In [3]:
list_square = [i  for i in range(20)if i**2 < 20]
print(list_square)

[0, 1, 2, 3, 4]

2. Make a list with the first 50 power of two.

In [7]:
list_first_50 = [2**i for i in range(50)]
print(list_first_50)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288, 1048576, 2097152, 4194304, 8388608, 16777216, 33554432, 67108864, 134217728, 268435456, 536870912, 1073741824, 2147483648, 4294967296, 8589934592, 17179869184, 34359738368, 68719476736, 137438953472, 274877906944, 549755813888, 1099511627776, 2199023255552, 4398046511104, 8796093022208, 17592186044416, 35184372088832, 70368744177664, 140737488355328, 281474976710656, 562949953421312]

3. Calculate the square root of the first 100 numbers. 

**You will probably need to install math library with pip and import it in this file.**

In [11]:
import math

math.sqrt(100)

10.0

In [12]:
ejercicio_3 = [i**2 for i in range(100)]
print(ejercicio_3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

4. Create this list `[-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]`.

In [18]:
ejercicio_4 =[i for i in range(-10,1,1)]
print(ejercicio_4)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

5. Filter only negative and zero in the list `numbers`.

In [14]:

numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [19]:
ejercicio_5 = [i for i in numbers if i <=0]
print(ejercicio_5)

[-4, -3, -2, -1, 0]

6. Find the odd numbers from 1-100 and put them on a list.

In [20]:
odd_numbers = [i for i in range(1,100) if i% 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

7. Find all of the numbers from 1-1000 that are divisible by 7.

In [21]:
divisible_by_7 = [i for i in range(1,1000) if i%7 == 0]
print(divisible_by_7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

8. Remove all of the vowels in a string. 

   Hint: make a list of the non-vowels.

In [32]:
teststring = "When you reach the end of your rope, tie a knot in it and hang on."
ejercicio = teststring.replace(" ", "")
print(ejercicio)

Whenyoureachtheendofyourrope,tieaknotinitandhangon.

In [33]:
non_vowels = [ i for i in ejercicio if i not in "aeiou"]
print(non_vowels)

['W', 'h', 'n', 'y', 'r', 'c', 'h', 't', 'h', 'n', 'd', 'f', 'y', 'r', 'r', 'p', ',', 't', 'k', 'n', 't', 'n', 't', 'n', 'd', 'h', 'n', 'g', 'n', '.']

9. Find the capital letters (and not white space) in the sentence `"The Way To Get Started Is To Quit Talking And Begin Doing."`.

In [36]:
sentence = "The Way To Get Started Is To Quit Talking And Begin Doing."
ejercicio_9 = sentence.replace(" ", "")
is_upper = [i for i in ejercicio_9 if i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"]
print(is_upper)

['T', 'W', 'T', 'G', 'S', 'I', 'T', 'Q', 'T', 'A', 'B', 'D']

10. Find all the consonants in the sentence `"Tell me and I forget. Teach me and I remember. Involve me and I learn."`.

In [37]:
sentence = "Tell me and I forget. Teach me and I remember. Involve me and I learn."
ejercicio_10 = [i for i in sentence if i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"]
print(ejercicio_10)

['T', 'I', 'T', 'I', 'I', 'I']

In [39]:
##lo puedo resolver con la fucion re.findall; importando re
import re
'''module is used to search for “all” occurrences that match a given pattern"'''

sentence = "Tell me and I forget. Teach me and I remember. Involve me and I learn."
ejercicio_10_1 = re.findall('([A-Z])', sentence)
print(ejercicio_10_1)

['T', 'I', 'T', 'I', 'I', 'I']

11. Create 4 lists of 10 random numbers between 0 and 100 each. 

**You will probably need to import random module.**

In [41]:
###no logro usar list-comprehesion...por lo que uso un bucle for .

import random
randomlist = []
for i in range(10):
    n = random.randint(0,100)
    randomlist.append(n)

print(randomlist)

[41, 48, 0, 8, 15, 30, 0, 99, 11, 99]

In [42]:
import random
randomlist = []
for i in range(10):
    n = random.randint(0,100)
    randomlist.append(n)

print(randomlist)

[63, 40, 9, 90, 51, 7, 75, 68, 77, 11]

In [43]:
### tambien he intentado de esta otra manera

import random
#Generate 10 random numbers entre 0 y 100
randomlist = random.sample(range(0, 100), 10)
print(randomlist)

[81, 58, 25, 4, 30, 15, 1, 91, 18, 86]

In [ ]:
import random
#Generate 10 random numbers entre 0 y 100
randomlist = random.sample(range(0, 100), 10)
print(randomlist)

### Exercise 2.

1. Flatten the following list of lists of lists to a one dimensional list **using list-comprehension**:
```python
expected output:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [44]:
list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
flaten_list = [valores for listas in list_of_lists for valores in listas]
print(flaten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Flatten the following list to a new list, and capitalize the elements of the new list **using list-comprehension**:
```python
expected output:
['SPAIN', 'MADRID', 'FRANCE', 'PARIS', 'PORTUGAL', 'LISBON']
```

In [47]:
countries = [[('Spain', 'Madrid')], [('France', 'Paris')], [('Portugal', 'Lisbon')]]

In [65]:

lista_capitalize = [letters for i in countries for paises in i for letters in paises]

print(lista_capitalize)

['Spain', 'Madrid', 'France', 'Paris', 'Portugal', 'Lisbon']

3. Change the `countries` list to a list of dictionaries:
```python
expected output:
[{'country': 'SPAIN', 'city': 'MADRID'},
{'country': 'FRANCE', 'city': 'PARIS'},
{'country': 'PORTUGAL', 'city': 'LISBON'}]
```

In [66]:
list_dictionaries = [clave:valor for clave,valor in lista_capitalize]
print(list_dictionaries)

SyntaxError: invalid syntax (<ipython-input-66-e6849c8712a4>, line 1)

4. Change the following list of lists to a list of concatenated strings **using list-comprehension**:
```python
expected output:
['Gabriel Vazquez', 'Clara Piniella', 'Diomedes Barbero']
```

In [67]:
names = [[('Gabriel', 'Vazquez')], [('Clara', 'Piniella')], [('Diomedes', 'Barbero')]]

In [68]:
lista_nombres = [[('Gabriel', 'Vazquez')], [('Clara', 'Piniella')], [('Diomedes', 'Barbero')]]

lista_modificada = [y for listas in lista_nombres for x in listas for y in x]

print(lista_modificada)

['Gabriel', 'Vazquez', 'Clara', 'Piniella', 'Diomedes', 'Barbero']

5. Convert the numbers of the following nested list to floats. Use **floats_list** as the name of the list. **using list-comprehension**

In [78]:
big_list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]


list_comprehension = [float(j) for i in big_list_of_lists for j in i ]
list_comprehension

[40.0,
 20.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 30.0,
 20.0,
 30.0,
 20.0,
 30.0,
 50.0,
 10.0,
 30.0,
 20.0,
 20.0,
 20.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0,
 100.0]

6. Using list comprehension create the following list of tuples:
```python
expected output: 
[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]
```

In [93]:
lista_de_tuplas = [ j**j+1 for i in range(0,11) for j in range(0,6)]
print(lista_de_tuplas)

###no me ha salido...

[2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126, 2, 2, 5, 28, 257, 3126]

### Exercise 3.

1. First, create a range from 100 to 160 with steps of 10.
   Second, using **dict comprehension**, create a dictionary where each number in the range is the key and each item divided by 100 is the value.

In [80]:
dictionary = {num:num/100 for num in range(100,160,10)}

print(dictionary)

{100: 1.0, 110: 1.1, 120: 1.2, 130: 1.3, 140: 1.4, 150: 1.5}

2. Using **dict comprehension** and a conditional argument create a dictionary from `curr_dict` where only the key:value pairs with value above 2000 are taken to the new dictionary.

In [81]:
curr_dict = {"Netflix":4950,"HBO":2400,"Amazon":1800, "Movistar":1700}

In [85]:
new_curr_dict = {item: value for (item, value) in curr_dict.items() if value>  2000}
print(new_curr_dict)

{'Netflix': 4950, 'HBO': 2400}

3. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. This time use **dict comprehension** to do so.

In [86]:
a = ["a", "b"]
b = [ 1, 2]

def funcion_ejer_3 (list1, list2):
    return dict(zip(list1, list2))

In [87]:
funcion_ejer_3(list1=a , list2=b)

{'a': 1, 'b': 2}

In [88]:
def fun_ejerci_3 (list1, list2):
    diccio = {key:value for key in list1 for value in list2}
    return diccio

In [90]:
fun_ejerci_3(list1=a , list2=b)

{'a': 2, 'b': 2}

### Bonus Track.

1. Make a Python program that, from the strings `" | "` and `" _ "`, shows an 8x8 **chessboard** on the screen.

   Develop the program in a `.py` file that will be run through the terminal. 
 
   From the folder that contains the corresponding `.py`, it will be executed with the following command:` python3 program_name.py`

!['togood'](https://i.pinimg.com/originals/de/f5/2f/def52fe41d695d8feebd2cdc194da929.png)