# SQL en Python
<img src=".\img\image-4.png" alt="EDA Path"
    title="A typical EDA path" width="600" height="300" />
## Conectamos con la base de datos

### Documentación de la librería SQLite3 que vamos a utilizar:
https://docs.python.org/3/library/sqlite3.html

In [40]:
# Importamos librerias
import pandas as pd 
import sqlite3

In [41]:
# Conectamos con la base de datos chinook.db
path = "chinook.db"
connection = sqlite3.connect(path)

# Obtenemos un cursor que utilizaremos para hacer las queries
curs = connection.cursor()

In [42]:
# Creamos una Query sencilla; estaran dentro de una variable
query = """
SELECT *
FROM genres
"""

In [43]:

my_query = curs.execute(query)
my_query

In [44]:
# si ejecutamos esto nos devuelve una lista de tuplas, con el 
# resultado de la query
my_query.fetchall()

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll'),
 (6, 'Blues'),
 (7, 'Latin'),
 (8, 'Reggae'),
 (9, 'Pop'),
 (10, 'Soundtrack'),
 (11, 'Bossa Nova'),
 (12, 'Easy Listening'),
 (13, 'Heavy Metal'),
 (14, 'R&B/Soul'),
 (15, 'Electronica/Dance'),
 (16, 'World'),
 (17, 'Hip Hop/Rap'),
 (18, 'Science Fiction'),
 (19, 'TV Shows'),
 (20, 'Sci Fi & Fantasy'),
 (21, 'Drama'),
 (22, 'Comedy'),
 (23, 'Alternative'),
 (24, 'Classical'),
 (25, 'Opera')]

In [45]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas

def sql_query(query): #creo la función

    curs.execute(query)  #esto es my_query

    datos_query = curs.fetchall() # metodo que me muestra el contenido de my_query

    col_names = [description[0] for description in curs.description] #las columnas de mi tabla

    return pd.DataFrame(datos_query, columns = col_names)

In [46]:
sql_query(query) #llamo a mi funcion

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [47]:
# Tambien podemos obtener el mismo resultado directamente con pandas
pd.read_sql_query(query, connection)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

## Ya podemos comenzar con la práctica de chinook:
Antes de empezar a atacar una base de datos, tendremos que saber qué hay dentro, y para ello lo mejor es ver cómo es su **modelo de datos**

![imagen](./img/chinook_data_model.png)

### 1.	Facturas de Clientes de Brasil, Nombre del cliente, Id de factura, fecha de la factura y el país de la factura

In [59]:
query = """
SELECT c.*, InvoiceDate
FROM customers c, invoices i
WHERE c.CustomerId = i.CustomerId
"""
pd.read_sql_query(query, connection)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId,InvoiceDate
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,2010-03-11 00:00:00
1,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,2010-06-13 00:00:00
2,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,2010-09-15 00:00:00
3,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,2011-05-06 00:00:00
4,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3,2012-10-27 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,2009-07-08 00:00:00
408,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,2010-02-26 00:00:00
409,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,2011-08-20 00:00:00
410,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,2011-09-30 00:00:00
411,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,None,puja_srivastava@yahoo.in,3,2012-05-30 00:00:00

In [49]:
query = """
SELECT c.Firstname||' '||c.LastName as "Full name", i.InvoiceId,i.InvoiceDate, i.BillingCountry
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
WHERE c.Country = "Brazil"
"""

pd.read_sql_query(query, connection)

          Full name  InvoiceId          InvoiceDate BillingCountry
0    Luís Gonçalves         98  2010-03-11 00:00:00         Brazil
1    Luís Gonçalves        121  2010-06-13 00:00:00         Brazil
2    Luís Gonçalves        143  2010-09-15 00:00:00         Brazil
3    Luís Gonçalves        195  2011-05-06 00:00:00         Brazil
4    Luís Gonçalves        316  2012-10-27 00:00:00         Brazil
5    Luís Gonçalves        327  2012-12-07 00:00:00         Brazil
6    Luís Gonçalves        382  2013-08-07 00:00:00         Brazil
7   Eduardo Martins         25  2009-04-09 00:00:00         Brazil
8   Eduardo Martins        154  2010-11-14 00:00:00         Brazil
9   Eduardo Martins        177  2011-02-16 00:00:00         Brazil
10  Eduardo Martins        199  2011-05-21 00:00:00         Brazil
11  Eduardo Martins        251  2012-01-09 00:00:00         Brazil
12  Eduardo Martins        372  2013-07-02 00:00:00         Brazil
13  Eduardo Martins        383  2013-08-12 00:00:00         Brazil
14  Alexandre Rocha         57  2009-09-06 00:00:00         Brazil
15  Alexandre Rocha         68  2009-10-17 00:00:00         Brazil
16  Alexandre Rocha        123  2010-06-17 00:00:00         Brazil
17  Alexandre Rocha        252  2012-01-22 00:00:00         Brazil
18  Alexandre Rocha        275  2012-04-25 00:00:00         Brazil
19  Alexandre Rocha        297  2012-07-28 00:00:00         Brazil
20  Alexandre Rocha        349  2013-03-18 00:00:00         Brazil
21  Roberto Almeida         34  2009-05-23 00:00:00         Brazil
22  Roberto Almeida        155  2010-11-14 00:00:00         Brazil
23  Roberto Almeida        166  2010-12-25 00:00:00         Brazil
24  Roberto Almeida        221  2011-08-25 00:00:00         Brazil
25  Roberto Almeida        350  2013-03-31 00:00:00         Brazil
26  Roberto Almeida        373  2013-07-03 00:00:00         Brazil
27  Roberto Almeida        395  2013-10-05 00:00:00         Brazil
28   Fernanda Ramos         35  2009-06-05 00:00:00         Brazil
29   Fernanda Ramos         58  2009-09-07 00:00:00         Brazil
30   Fernanda Ramos         80  2009-12-10 00:00:00         Brazil
31   Fernanda Ramos        132  2010-07-31 00:00:00         Brazil
32   Fernanda Ramos        253  2012-01-22 00:00:00         Brazil
33   Fernanda Ramos        264  2012-03-03 00:00:00         Brazil
34   Fernanda Ramos        319  2012-11-01 00:00:00         Brazil

### 2.	Facturas de Clientes de Brasil

In [50]:
query = """
SELECT i.*
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
WHERE c.Country = "Brazil"
"""
pd.read_sql_query(query,connection)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
5,327,1,2012-12-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,13.86
6,382,1,2013-08-07 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,8.91
7,25,10,2009-04-09 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,8.91
8,154,10,2010-11-14 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,1.98
9,177,10,2011-02-16 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,3.96
10,199,10,2011-05-21 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,5.94
11,251,10,2012-01-09 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,0.99
12,372,10,2013-07-02 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,1.98
13,383,10,2013-08-12 00:00:00,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,13.86
14,57,11,2009-09-06 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,1.98
15,68,11,2009-10-17 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,13.86
16,123,11,2010-06-17 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,8.91
17,252,11,2012-01-22 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,1.98
18,275,11,2012-04-25 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,3.96
19,297,11,2012-07-28 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,5.94
20,349,11,2013-03-18 00:00:00,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,0.99
21,34,12,2009-05-23 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,0.99
22,155,12,2010-11-14 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,1.98
23,166,12,2010-12-25 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,13.86
24,221,12,2011-08-25 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,8.91
25,350,12,2013-03-31 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,1.98
26,373,12,2013-07-03 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,3.96
27,395,12,2013-10-05 00:00:00,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,5.94
28,35,13,2009-06-05 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,1.98
29,58,13,2009-09-07 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,3.96
30,80,13,2009-12-10 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,5.94
31,132,13,2010-07-31 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,0.99
32,253,13,2012-01-22 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,1.98
33,264,13,2012-03-03 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,13.86
34,319,13,2012-11-01 00:00:00,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,8.91

### 3.	Muestra cada factura asociada a cada agente de ventas con su nombre completo.

In [51]:
query = """
SELECT i.*, e.FirstName||' '||e.LastName as "Full Name"
FROM employees e
JOIN customers c ON e.EmployeeId = c.SupportRepId
JOIN invoices i ON i.CustomerId = c.CustomerId
"""
pd.read_sql_query(query, connection)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total,Full Name
0,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98,Jane Peacock
1,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96,Jane Peacock
2,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94,Jane Peacock
3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99,Jane Peacock
4,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98,Jane Peacock
...,...,...,...,...,...,...,...,...,...,...
407,88,57,2010-01-13 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,17.91,Steve Johnson
408,217,57,2011-08-20 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,1.98,Steve Johnson
409,240,57,2011-11-22 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,3.96,Steve Johnson
410,262,57,2012-02-24 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,5.94,Steve Johnson
411,314,57,2012-10-14 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,0.99,Steve Johnson

In [52]:
query = """
SELECT i.*, e.FirstName||' '||e.LastName as "Full Name"
FROM employees e
JOIN customers c, invoices i ON e.EmployeeId = c.SupportRepId
AND i.CustomerId = c.CustomerId
"""
pd.read_sql_query(query, connection)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total,Full Name
0,98,1,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98,Jane Peacock
1,121,1,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96,Jane Peacock
2,143,1,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94,Jane Peacock
3,195,1,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99,Jane Peacock
4,316,1,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98,Jane Peacock
...,...,...,...,...,...,...,...,...,...,...
407,88,57,2010-01-13 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,17.91,Steve Johnson
408,217,57,2011-08-20 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,1.98,Steve Johnson
409,240,57,2011-11-22 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,3.96,Steve Johnson
410,262,57,2012-02-24 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,5.94,Steve Johnson
411,314,57,2012-10-14 00:00:00,"Calle Lira, 198",Santiago,None,Chile,None,0.99,Steve Johnson

### 4.	Para cada factura muestra el nombre del cliente, el país, el nombre del agente y el total

In [53]:
query = """
SELECT e. FirstName||" "||e.LastName as "Employee", c.FirstName||' '||c.LastName as "Customer", c.Country, i.Total
FROM employees e 
JOIN customers c ON e.EmployeeId = c.SupportRepId
JOIN invoices i ON i.CustomerId = c.CustomerId
"""

pd.read_sql_query(query,connection)

         Employee         Customer Country  Total
0    Jane Peacock   Luís Gonçalves  Brazil   3.98
1    Jane Peacock   Luís Gonçalves  Brazil   3.96
2    Jane Peacock   Luís Gonçalves  Brazil   5.94
3    Jane Peacock   Luís Gonçalves  Brazil   0.99
4    Jane Peacock   Luís Gonçalves  Brazil   1.98
..            ...              ...     ...    ...
407  Jane Peacock  Puja Srivastava   India   5.94
408  Jane Peacock  Puja Srivastava   India   1.99
409  Jane Peacock  Puja Srivastava   India   1.98
410  Jane Peacock  Puja Srivastava   India  13.86
411  Jane Peacock  Puja Srivastava   India   8.91

[412 rows x 4 columns]

### 5.	Muestra cada artículo de la factura con el nombre de la canción.

In [54]:
query = """
SELECT i.*, t.Name as "Song name"
FROM invoice_items i
JOIN tracks t ON t.TrackId = i.TrackId
"""
pd.read_sql_query(query,connection)

,InvoiceLineId,InvoiceId,TrackId,UnitPrice,Quantity,Song name
0,1,1,2,0.99,1,Balls to the Wall
1,2,1,4,0.99,1,Restless and Wild
2,3,2,6,0.99,1,Put The Finger On You
3,4,2,8,0.99,1,Inject The Venom
4,5,2,10,0.99,1,Evil Walks
...,...,...,...,...,...,...
2235,2236,411,3136,0.99,1,Looking For Love
2236,2237,411,3145,0.99,1,Sweet Lady Luck
2237,2238,411,3154,0.99,1,Feirinha da Pavuna/Luz do Repente/Bagaço da La...
2238,2239,411,3163,0.99,1,Samba pras moças
2239,2240,412,3177,1.99,1,Hot Girl

### 6.	Muestra todas las canciones con su nombre, formato, álbum y género.

In [55]:
query = """
SELECT t.Name as "Song name", t.Name as "Format", a.Title as "Album", g.Name as "Genre"
FROM  tracks t
JOIN albums a ON a.AlbumId = t.AlbumId
JOIN genres g ON t.GenreId = g.GenreId
JOIN media_types m ON t.MediaTypeId = m.MediaTypeId
"""
pd.read_sql_query(query,connection)

,Song name,Format,Album,Genre
0,For Those About To Rock (We Salute You),For Those About To Rock (We Salute You),For Those About To Rock We Salute You,Rock
1,Balls to the Wall,Balls to the Wall,Balls to the Wall,Rock
2,Fast As a Shark,Fast As a Shark,Restless and Wild,Rock
3,Restless and Wild,Restless and Wild,Restless and Wild,Rock
4,Princess of the Dawn,Princess of the Dawn,Restless and Wild,Rock
...,...,...,...,...
3498,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,Respighi:Pines of Rome,Classical
3499,"String Quartet No. 12 in C Minor, D. 703 ""Quar...","String Quartet No. 12 in C Minor, D. 703 ""Quar...",Schubert: The Late String Quartets & String Qu...,Classical
3500,"L'orfeo, Act 3, Sinfonia (Orchestra)","L'orfeo, Act 3, Sinfonia (Orchestra)",Monteverdi: L'Orfeo,Classical
3501,"Quintet for Horn, Violin, 2 Violas, and Cello ...","Quintet for Horn, Violin, 2 Violas, and Cello ...",Mozart: Chamber Music,Classical
3502,"Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...","Die Zauberflöte, K.620: ""Der Hölle Rache Kocht...",Mozart Gala: Famous Arias,Opera

### 7.	Muestra cuántas canciones hay en cada playlist y el nombre de cada playlist.

In [56]:
query = """
SELECT p.Name as "Playlist", COUNT(*)
FROM tracks t
JOIN playlist_track pt, playlists p ON t.TrackId AND pt.playlistId = p.playlistId
GROUP BY p.Name
"""
pd.read_sql_query(query,connection)

                      Playlist  COUNT(*)
0                   90’s Music   5173931
1              Brazilian Music    136617
2                    Classical    262725
3    Classical 101 - Deep Cuts     87575
4   Classical 101 - Next Steps     87575
5   Classical 101 - The Basics     87575
6                       Grunge     52545
7          Heavy Metal Classic     91078
8                        Music  23049740
9                 Music Videos      3503
10                 On-The-Go 1      3503
11                    TV Shows   1492278

In [57]:
query = """
SELECT pl.Name as 'Playlist',COUNT(*) as 'Nº Canciones'
FROM playlists pl
JOIN playlist_track pt ON pt.playlistId = pl.playlistId
GROUP BY pl.PlaylistID
"""
pd.read_sql_query(query, connection)

                      Playlist  Nº Canciones
0                        Music          3290
1                     TV Shows           213
2                   90’s Music          1477
3                        Music          3290
4                 Music Videos             1
5                     TV Shows           213
6              Brazilian Music            39
7                    Classical            75
8    Classical 101 - Deep Cuts            25
9   Classical 101 - Next Steps            25
10  Classical 101 - The Basics            25
11                      Grunge            15
12         Heavy Metal Classic            26
13                 On-The-Go 1             1

### 8.	Muestra cuánto ha vendido cada empleado.

### 9.	¿Quién ha sido el agente de ventas que más ha vendido en 2009?

### 10.	¿Cuáles son los 3 grupos que más han vendido?

### 11. Muestra cuántas canciones de Rock hay en cada playlist

In [58]:
query = """
SELECT p Name as "Playlist" COUNT(t.Name) 
FROM genres g
JOIN tracks t ON g.GenreId= t.GenreId
JOIN playlist_track pt ON t.TrackId = pt.TrackId
JOIN playlists p ON pt.PlaylistId = p.PlaylistId
WHERE g.Name = "Rock"
GROUP BY p.PlaylistId
"""
pd.read_sql_query(query, connection)

DatabaseError: Execution failed on sql '
SELECT p Name as "Playlist" COUNT(t.Name)
FROM genres g
JOIN tracks t ON g.GenreId= t.GenreId
JOIN playlist_track pt ON t.TrackId = pt.TrackId
JOIN playlists p ON pt.PlaylistId = p.PlaylistId
WHERE g.Name = "Rock"
GROUP BY p.PlaylistId
': near "as": syntax error

### 12. Muestra una tabla con todas canciones y su(s) Id de factura, hayan sido vendidas alguna vez o no.

### 13. ¿Cuántos artistas no tienen ningún album?

In [ ]:

#el output va ser un numero 
query = """
SELECT COUNT(*) as "Artists without album"

FROM artists a  
LEFT JOIN albums b ON a.ArtistId = b.ArtistId
WHERE Title IS NULL
"""
pd.read_sql_query(query,connection)

   Artists without album
0                     71

In [ ]:
import json

In [ ]:
json_object =  '''{
    "nombre": "Eduardo",
    "edad": 27,
    "correo": "eduardo78d@gmail.com",
    "cursos": ["Python", "MongoDB", "Flask"]
}'''

user = json.loads(json_object)
print(user)

{'nombre': 'Eduardo', 'edad': 27, 'correo': 'eduardo78d@gmail.com', 'cursos': ['Python', 'MongoDB', 'Flask']}

In [ ]:
user['nombre'] = ['karina']
print(user['nombre'])

['karina']

In [ ]:
with open('users.json') as f:
    payload = json.load(f)

    for user in payload['users']:
        print(user)

FileNotFoundError: [Errno 2] No such file or directory: 'users.json'